.video__iframes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  width: 1040px;
  list-style: none;
}
